h1,
h2 {
  font-family: Lato;
}

body {
  background: black;
}
.static-image {
  background-image: url('NORLYS3328.png');
  background-size: cover;
  width: 1080px;
  height: 720px;
  position: relative;
}

.animated-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}
