.static-image {
background-image: url("assets/NORLYS3328.png");
width: 1080px;
height: 720px;
background-size: cover;
position: relative;
}

.animated-icon{
    width: 30px;
    height: 30px;
    background-size: cover;
}